<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0QWKGQSNZZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-0QWKGQSNZZ');
    </script>

    {{ partial "seo.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    {{ $styles := resources.Get "css/main.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
</head>

<body class="min-h-screen flex flex-col">
    {{ partial "header.html" . }}
    <main class="flex-grow">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <!-- Scarf Analytics -->
    <img 
        referrerpolicy="no-referrer-when-downgrade" 
        src="https://static.scarf.sh/a.png?x-pxid=20fab3af-8ed8-4985-9b37-8c7239a30f2d"
        class="absolute w-px h-px opacity-0" 
    />
</body>

</html>